#init1
{
min-height:250px;
background-color:red;
margin:15px;
}

#after1
{
display:none;
min-height:250px;
margin:15px;
}
#init2
{
min-height:250px;
background-color:yellow;
margin:15px;
}

#after2
{
display:none;
min-height:250px;
margin:15px;
}
#init3
{
min-height:250px;
background-color:blue;
margin:15px;
}

#after3
{
display:none;
min-height:250px;
margin:15px;
}
#init4
{
min-height:250px;
background-color:purple;
margin:15px;
}

#after4
{
display:none;
min-height:250px;
margin:15px;
}