#init1
{
min-height:250px;
background-color:red;
margin:15px;
cursor:pointer;
}

#after1
{
display:none;
min-height:250px;
margin:15px;
}
#init2
{
min-height:250px;
background-color:yellow;
margin:15px;
cursor:pointer;
}

#after2
{
display:none;
min-height:250px;
margin:15px;
}
#init3
{
min-height:250px;
background-color:blue;
margin:15px;
cursor:pointer;
}

#after3
{
display:none;
min-height:250px;
margin:15px;
}
#init4
{
min-height:250px;
background-color:purple;
margin:15px;
cursor:pointer
}

#after4
{
display:none;
min-height:250px;
margin:15px;
}







		/*FONTS*/
.bigbtn
{
text-align:center;
padding-top:20%;
cursor:pointer;
}